# 1. 系统垃圾
.DS_Store
Thumbs.db

# 2. IDE 垃圾 
.idea/
*.iml
__pycache__/
*.pyc

# 3. 第三方依赖
.venv/          
node_modules/  # Node.js

# 4. 测试产物和报告 (自动生成的东西，不传代码库)
logs/
reports
screenshots/
videos/

# 其它文件
valid/
*.md
.github
.dockerignore
docker-compose.yml
Dockerfile
Makefile
run_docker.bat
run_docker.sh
*.html
